<app-menu></app-menu>

<main>
  <div id="order-confirmation" class="mat-elevation-z4">
    <h1>Checkup das Informações</h1>
    <mat-horizontal-stepper linear="true" #stepper>
      <mat-step [stepControl]="enderecoFormGroup" [editable]="isEditable">
        <form [formGroup]="enderecoFormGroup">
          <ng-template matStepLabel>Endereço</ng-template>
          <h2>Clique em um endereço:</h2>
          <div class="row">
            <button 
              *ngFor="let end of enderecos" 
              (click)="setEndereco(end)" 
              class="mat-elevation-z6 btn-endereco"
              mat-raised-button matStepperNext
            >
              <h4>{{end.logradouro}}, <br />Número: {{end.numero}}</h4>
              <p>{{end.complemento}}, {{end.bairro}}</p>
              <p>CEP: {{end.cep}}</p>
              <p>{{end.cidade.nome}}, {{end.cidade.estado.nome}}</p>
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="pagamentoFormGroup" [editable]="isEditable">
        <form [formGroup]="pagamentoFormGroup">
          <ng-template matStepLabel>Pagamento</ng-template>
          <h2>Escolha a forma de pagamento:</h2>
          <div class="row">
            <mat-radio-group 
              aria-label="Selecione o tipo de pagamento" 
              name="pagamento" 
              formControlName="pagamento"
            >
              <mat-radio-button [checked]="true" value="pagamentoComCartao">Cartão</mat-radio-button>
              <mat-radio-button value="pagamentoComBoleto">Boleto</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="row" *ngIf="pagamentoFormGroup.controls?.pagamento.value === 'pagamentoComCartao'">
            <mat-form-field appearance="fill">
              <mat-label>Número de parcelas</mat-label>
              <mat-select name="numeroDeParcelas" formControlName="numeroDeParcelas">
                <mat-option 
                  *ngFor="let qtdParcela of parcelas" 
                  [value]="qtdParcela"
                >{{qtdParcela}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row">
            <button mat-raised-button matStepperNext color="warn">Próximo</button>
            <button mat-raised-button matStepperPrevious>Voltar</button>
          </div>
        </form>
      </mat-step>

      <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Confirmação dos Dados</ng-template>
        
        <mat-card>
          <h2>Itens do pedido</h2>
          <p *ngFor="let item of cartService.getCart().items">
            Nome: {{item.produto.nome}} | Preço: {{item.produto.preco | currency: 'BRL'}} | Qtd. {{item.quatidade}}
          </p>
          Total: {{total() | currency: 'BRL'}}
        </mat-card>

        <mat-card>
          <h2>Dados do cliente</h2>
          <p>Nome: {{cliente?.nome}}</p>
          <p>Email: {{cliente?.email}}</p>
        </mat-card>

        <mat-card>
          <h2>Dados do Endereço</h2>
          <h4>{{endereco?.logradouro}}, <br />Número: {{endereco?.numero}}</h4>
          <p>{{endereco?.complemento}}, {{endereco?.bairro}}</p>
          <p>CEP: {{endereco?.cep}}</p>
          <p>{{endereco?.cidade.nome}}, {{endereco?.cidade.estado.nome}}</p>
        </mat-card>

        <mat-card>
          <h2>Pagamento</h2>
          <p *ngIf="pedido.pagamento">
            {{ (pedido.pagamento["@type"] === 'pagamentoComCartao') ? 'Pagamento com Cartão | Parcelas: ' + pedido.pagamento.numeroDeParcelas : 'Pagamento com Boleto' }}
          </p>
        </mat-card>

        <div class="row">
          <button mat-raised-button matStepperPrevious>Voltar</button>
          <button
            [disabled]="pedido === null || pedido.pagamento === null"
            (click)="confirmarPedido()"
            mat-raised-button 
            matStepperNext 
            color="warn"
          >Enviar Pedido</button>
          <button mat-raised-button (click)="stepper.reset()">Limpar formulário</button>
        </div>
      </mat-step>

      <mat-step [editable]="false">
        <ng-template matStepLabel>Pedido Enviado</ng-template>
        <p *ngIf="!codPedido">Registrando pedido, aguarde...</p>
        <p *ngIf="codPedido" class="order-confirmated">Pedido enviado! Aguarde a entrega e obrigado pela preferência</p>
        <p *ngIf="codPedido">Uma mensagem de confirmação foi enviada para o seu email cadastrado.</p>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</main>

<app-rodape></app-rodape>