#order-confirmation {
  width: 80vw;
  min-height: 40%;
  margin: 40px auto;
}

#order-confirmation h1 {
  text-align: center;
  padding-top: 15px;
  margin: 10px auto;
}

#order-confirmation form {
  width: 60%;
  margin: 10px auto;
}

#order-confirmation form button {
  margin-top: 20px;
}

#order-confirmation mat-radio-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

#order-confirmation mat-card {
  margin-bottom: 10px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px 20px;
}

.order-confirmated {
  width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;

  color: var(--text-color);
  background-color: rgb(0, 187, 0);
}

.btn-endereco {
  width: 100%;
  margin: 5px 10px;
  padding: 10px 20px;
}

.btn-endereco p {
  width: 100%;
}

.btn-endereco:hover {
  border: 2px solid var(--primary-color);
}