#cart-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 71.1vh;

  background-color: #fff;
}

#cart-itens h1 {
  text-align: center;
  margin-top: 20px;
}

.cart-itens-container {
  width: 60vw;
  margin: 6% 0;
}

.content {
  width: 80%;
  margin: 10px auto;
}

.valor-total {
  text-align: right;
}

.btn-actions {
  display: flex;
  flex-direction: column;
  gap: 10px 0;

  margin-bottom: 20px;
}

#cart-itens mat-list {
  margin: 20px auto;
  background-color: #fff;
}

#cart-itens mat-list mat-list-item {
  margin-bottom: 10px;
}

.cart-empty {
  color: rgb(180, 4, 4);
  text-align: center;
}

@media (max-width: 760px) {
  .cart-itens-container {
    width: 90vw;
  }
}

@media (max-width: 470px) {
  .cart-itens-container, .content {
    width: 100%;
  }
}
