<h2 mat-dialog-title>Login</h2>
<div mat-dialog-content>
  <form [formGroup]="loginFormControl" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" name="email" formControlName="email" placeholder="Ex. pat@example.com" matInput>
      <mat-error
        *ngIf="loginFormControl.controls.email.errors?.email && !loginFormControl.controls.email.errors.required">
        Informe um email válido!
      </mat-error>
      <mat-error *ngIf="loginFormControl.controls.email.errors?.required">
        Email é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input type="password" name="senha" formControlName="senha" placeholder="Mínimo de 5 caracteres" autocomplete="off" matInput>
      <mat-error *ngIf="loginFormControl.controls.senha.errors?.required">
        Senha é <strong>obrigatória</strong>
      </mat-error>
      <mat-error *ngIf="loginFormControl.controls.senha.errors?.minlength">
        Mínimo de <strong>{{loginFormControl.controls.senha.errors?.minlength.requiredLength}} catacteres</strong>
      </mat-error>
      <mat-error *ngIf="loginFormControl.controls.senha.errors?.maxlength">
        Máximo de <strong>{{loginFormControl.controls.senha.errors?.maxlength.requiredLength}} caracteres</strong>
      </mat-error>
    </mat-form-field>

    <button [disabled]="loginFormControl.invalid" type="submit" class="btn-entrar" mat-button>Entrar</button>

    <div class="grp-opcoes">
      <a (click)="handleSigup()">Cadastre-se aqui</a>
      <a routerLink="/">Esqueceu a senha?</a>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button class="btn-cancelar" mat-button (click)="cancelar()">Fechar</button>
</div>