#product-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 50px auto;
}

#product-detail mat-card-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#product-detail img {
  max-width: 500px;
}

#product-detail mat-card {
  margin: 10px 20px;
}