<app-menu></app-menu>

<main>
  <div id="product-detail">
    <mat-card class="mat-elevation-z4">
      <img 
        mat-card-image 
        [src]="product?.imgPath || '/assets/prod.jpg'"
        [alt]="product.nome"
      >
      <mat-card-content>
        <div>
          <h2>{{product.nome}}</h2>
          <p>{{product.preco | currency: 'BRL' }}</p>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="addToCart()">
          Adicionar ao carrinho
        </button>

        <button mat-raised-button (click)="voltar()">
          Voltar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</main>

<app-rodape></app-rodape>