html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text);

  font-family: Nunito, Roboto, Arial, Helvetica, sans-serif;
  background-color: var(--background-light);
}

:root {
  --primary-color: #505066;
  --secondary-color: #FF8310;
  --title-color: #fff;
  --subtitle-color: #ccc;
  --text-color: #fff;
  --text: #000;

  --background-light: #F4F9F1;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: Nunito;
}

.msg-success {
  background-color: #28a745;
  color: var(--text-color);
}

.msg-error {
  background-color: rgb(156, 0, 21);
  color: var(--text-color);
}
